<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Central</title>
    <link rel="stylesheet" href="/css/menuPrincipal.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Biblioteca Central</h1>
            <nav>
                <a href="/api/livros"><i class="fas fa-book"></i> Livros</a>
                <a href="/api/clientes"><i class="fas fa-user"></i> Clientes</a>
                <a href="/api/vendas"><i class="fas fa-shopping-cart"></i> Vendas</a>
                <a href="/api/itens"><i class="fas fa-box"></i> Itens</a>
            </nav>
        </header>

        <main>
            <h2>Bem-vindo à nossa Biblioteca!</h2>
            <p>Escolha uma seção do menu para começar.</p>
        </main>
    </div>

    <footer>
        <p>Integrantes da biblioteca: Pedro Romão, Samara, Marcius e Laura</p>
    </footer>
</body>
</html>
