body {
    font-family: Arial, sans-serif;
    background-color: #fff6f6;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #a20000;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    background-color: #990000;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  a:hover {
    background-color: #7a0000;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #a20000;
    color: white;
  }
  
  form {
    display: inline;
  }
  
  button {
    padding: 6px 10px;
    background-color: #b00000;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #7a0000;
  }
  